<div class="index_container">
    <div class="add_title" style="text-transform:Uppercase;">
        <%= image_tag("add_problem.svg", :alt => "") %>
    </div>
    <div class="first_space"></div>
    <div class="second_space"></div>
    <div class="third_space"></div>
    <div class="problem_form">
    <div style="width:100%;">
        <%= render 'form', problema: @problema %>
        <div class="shared">
            <%= link_to 'Back', listaproblemas_path, { :class=>"back" }  %>
        </div>
    </div>
    </div>
    <div class="last_space"></div>
</div>