<div class="index_container">
    <div class="intervencoes_title" style="text-transform:Uppercase;">
        <%= image_tag("intervencoes.svg", :alt => "") %>
    </div>
    <div class="block first"></div>
    <div class="block second"></div>
    <div class="block tercero"></div>
    <div class="block quatro"></div>
    <div class="block fifth"></div>
</div>