// Reset css //
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
img, input, button, textarea,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption,
table, thead, tbody, tfoot, th, tr, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section, summary,
time, mark, audio, video {
  appearance: none;
  background: transparent;
  border: 0;
  border-collapse: collapse;
  border-radius: 0;
  border-spacing: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  resize: none;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

input, select {
  vertical-align: middle;
}

input[type=search]::-ms-clear { display: none; height: 0; width: 0; }
input[type=search]::-ms-reveal { display: none; height: 0; width: 0; }
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration { display: none; }

html {
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

body {
  letter-spacing: .01em;
  line-height: 1;
  background-color: #2b2b2b;
}

.truncate    { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

// Menu general style //
.change .one {
    -webkit-transform: rotate(-45deg) translate(-10px, 9px);
    transform: rotate(-45deg) translate(-10px, 9px);
}

.change .two {
    -webkit-transform: rotate(45deg) translate(2px, 4px);
    transform: rotate(45deg) translate(2px, 4px);
}

.change .three {
    -webkit-transform: translate(0, 490px);
    transform: translate(0, 490px);
}

.change .tres {
    -webkit-transform: translate(0, 410px);
    transform: translate(0, 410px);
}

.one, .two {
    transition: transform .4s;
}
.three, .tres {
    transition: transform .4s ease-in-out;
}

.menu {
    background-color: #FD7248;

    .menu_burguer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1rem 1.5rem 0 0;

        .line {
            background-color: #fafafa;
            width: 4rem;
            height: .5rem;
            margin-top: 5px;
            border-radius: .4rem;
        }
    }

    .open_menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        visibility: hidden;
        opacity: 0;

    }

    .magic.open_menu {
        a {
            color: #fafafa;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            margin: 1.5rem 1.5rem 0 0;
            font-size: 2.4rem;
            text-decoration: none;
        }
    }
}

.magic {
    visibility: visible !important;
    opacity: 1 !important;
    transition: visibility 0s linear, opacity 0.4s ease-out .3s;

    a {
        color: #fafafa;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        margin: 1.5rem 1.5rem 0 0;
        font-size: 2.4rem;
        text-decoration: none;
    }
}

// Homepage style //
.menu_homepage {
    grid-area: 2 / 9 / span 1 / span 1;    
}

.menu_list {
    grid-area: 2 / 9 / span 1 / span 1;  
}

.oneOne {
    grid-area: 2 / 9 / span 5 / span 2;
}

.oneTwo {
    grid-area: 2 / 9 / span 7 / span 2;  
}

.index_container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0 repeat(8, 1fr) 0;
    grid-template-rows: 0 repeat(7, 1fr) 0; 
    grid-gap: 2rem;
}

.list_container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0 repeat(8, 1fr) 0;
    grid-template-rows: 0 1fr 3rem repeat(7, 1fr) 0; 
    grid-gap: 2rem;
    overflow: hidden;
}

.openedMenu {
    grid-template-columns: 0 repeat(9, 1fr) 0;
}

.add_title {
    grid-area: 2 / 2 / span 1 / span 9;

    img {
        width: 100%;
        height: 100%;
    }
}

.first_space {
    background-color: #FD7248;
    grid-area: 3 / 10 / span 6 / span 1;
}

.second_space {
    background-color: #FD7248;
    grid-area: 3 / 2 / span 4 / span 3;
}

.third_space {
    background-color: #FD7248;
    grid-area: 3 / 8 / span 4 / span 2;
}

.problem_form {
    grid-area: 3 / 5 / span 4 / span 3;
    display: flex;
    align-items: flex-end;

    .shared {
        p {
          margin-top: 2rem;
        }
    
        a {
          font-size: 2rem;
          color: #fafafa;
          font-family: "Poppins", sans-serif;
          font-weight: 900;
          text-decoration: none;
          margin-right: 2rem;
        }
    }

    form {
        width: 100%;
      }
    
      .field {
        margin-bottom: 2rem;
    
        label {
          font-size: 2.4rem;
          color: #fafafa;
          font-family: "Poppins", sans-serif;
          font-weight: 900;
          margin-bottom: 2rem;
        }
    
        input {
          padding: 0.5rem;
          background-color: #fafafa;
          color: #2b2b2b;
          font-size: 1.6rem;
          width: 100%;
          font-family: "Poppins", sans-serif;
          font-weight: 600;
          background-color: #fafafa;
        }
    }

    .actions {
        margin-top: 2rem;
        input {
          font-size: 4rem;
          color: #fafafa;
          font-family: "Poppins", sans-serif;
          font-weight: 900;
    
          &:hover {
            background-color: #000;
            cursor: pointer;
          }
        }

        .back {
            color: #FD7248;
        }
    }

    textarea {
        height: 8rem;
        padding: 0.5rem;
        background-color: #fafafa;
        color: #2b2b2b;
        font-size: 1.6rem;
        width: 100%;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        background-color: #fafafa;
    }
}

.last_space {
    background-color: #FD7248;
    grid-area: 7 / 2 / span 2 / span 8;
}

.about_title {
    grid-area: 2 / 2 / span 1 / span 3;

    img {
        width: 100%;
        height: 100%;
    }
}

.estatisticas_title {
    grid-area: 2 / 2 / span 1 / span 7;

    img {
        width: 100%;
        height: 100%;
    }
}

.stat_wrapper {
    grid-area: 3 / 6 / span 6 / span 3;
    display: flex;
    flex-flow: column;

    .blanco {
        height: 50%;
        background-color: #FD7248;
    }
    & .row.blanco {
        flex: 0 1 auto;
        transition: height .7s ease-in-out;
    }

    & .row.empty {
        flex: 1 1 auto;
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;
        transition: margin .4s linear, margin-bottom .4s linear;

        .stat_number {
            color: #fafafa;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            font-size: 4rem;
            line-height: 4.6rem;
        }
    }
}

.options_wrapper {
    grid-area: 3 / 2 / span 6 / span 4;
    display: flex;
    flex-flow: column;
    
    .fill {
        height: 70%;
        background-color: #FD7248;
    }
    & .row.fill {
        flex: 0 1 auto;
    }

    & .row.options {
        flex: 1 1 auto;
        margin-bottom: 2rem;

        p {
            color: #fafafa;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            font-size: 4rem;
            line-height: 5rem;

            &:hover {
                cursor: pointer;
                color: #FD7248;
            }
        }
    }
}

.map_title {
    grid-area: 2 / 2 / span 1 / span 4;

    img {
        width: 100%;
        height: 100%;
    }
}

.blank_space {
    background-color: #FD7248;
    grid-area: 2 / 6 / span 1 / span 3;
}

.map_container {
    grid-area: 3 / 2 / span 6 / span 7;
    position: relative;
}

.about_info {
    grid-area: 3 / 2 / span 6 / span 7;
    display: flex;
    flex-flow: column;

    p {
        color: #fafafa;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 4rem;
        line-height: 4.6rem;
    }

    .fill {
        margin-top: 2rem;
        background-color: #FD7248;
    }

    & .row.show_desc {
        flex: 0 1 auto;
    }

    & .row.fill {
        flex: 1 1 auto;
    }
}

.page_title {
    grid-area: 2 / 2 / span 1 / span 7;

    img {
        width: 100%;
        height: 100%;
    }

    span {
        color: #fafafa;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 20rem;
        line-height: 15rem;
    }
}

.space_one {
    background-color: #FD7248;
    grid-area: 3 / 2 / span 3 / span 3;
}

.problem, .add {
    color: #fafafa;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;

    span {
        font-size: 8rem;
    }

    p {
        font-size: 2.4rem;
    }

    a {
        color: #fafafa;
        font-size: 2.4rem;
        width: 100%;
    }
}

.problem {
    a {
        text-decoration: none;
        &:hover {
            background: none;
        }
    }
}

.add {
    grid-area: 3 / 7 / span 1 / span 2;
    text-align: right;
}

.st_shown {
    grid-area: 2 / 2 / span 1 / span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
        width: 100%;
    }
}

.space_two {
    background-color: #FD7248;
    grid-area: 2 / 5 / span 2 / span 4;
}

.nd_shown {
    grid-area: 4 / 6 / span 1 / span 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
}

.space_three {
    background-color: #FD7248;
    grid-area: 6 / 2 / span 3 / span 2;
}

.rd_shown {
    grid-area: 8 / 4 / span 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.space_four {
    background-color: #FD7248;
    grid-area: 4 / 5 / span 2 / span 1;
}

.space_five {
    background-color: #FD7248;
    grid-area: 6 / 4 / span 2 / span 2;
}

.space_six {
    background-color: #FD7248;
    grid-area: 5 / 6 / span 4 / span 3;
}

.problemswrap {
    grid-area: 4 / 2 / span 7 / span 7;
    overflow-y: auto;

    .fix_scroll {
        width: 100%;
        height: 660px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2rem;

        a {
            text-decoration: none;
        }

        a:hover {
            background-color: initial;
        }
    
        .sm_wrap {
            margin: 0px !important;
            display: flex;
            height: 150px;
            color: #fafafa;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;

            &:hover {
                & > .fill {
                    background-image: url("fundo.png");
                    background-size: cover;
                    background-position: right bottom;
                }
            }

            .info {
                max-width: 65%;
                display: flex;
                flex-direction: column;
            }
    
            &.invert {
                flex-direction: row-reverse;
    
                span, h1, p {
                    margin: 0 0 0 2rem;
                    text-align: right;
                }
            }

            .mr20 {
                margin-right: 2rem;
            }
    
            span {
                font-size: 8rem;
            }

            h1 {
                font-size: 2rem;
            }

            p {
                margin-top: 0.5rem;
                font-size: 1.5rem;
                line-height: 2.1rem;
                color: #fafafa;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
            }
    
            .fill {
                width: 100%;
                background-color: #FD7248;
            }
        }
    }
}

.problem_description {
    grid-area: 3 / 2 / span 6 / span 5;
    height: 100%;
    display: flex;
    flex-flow: column;

    .show_desc {
        p {
            color: #fafafa;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            font-size: 4.5rem;
            line-height: 5rem;
        }
    }

    .fill {
        margin-top: 2rem;
        background-color: #FD7248;
    }

    & .row.show_desc {
        flex: 0 1 auto;
    }

    & .row.fill {
        flex: 1 1 auto;
    }
}

.problem_img {
    grid-area: 2 / 7 / span 4 / span 4;
    background-image: url("fundo.png");
    background-size: cover;
    background-position: right bottom;
}

.top_info {
    grid-area: 6 / 7 / span 3 / span 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p, a {
        color: #fafafa;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 4.5rem;
        line-height: 4.5rem;
        text-decoration: none;

        strong {
            color: #FD7248;
        }
    }

    a {
        margin-right: 2rem;
    }
}

.index_foot {
    grid-area: 8 / 9 / span 1 / span 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
        width: 100%;
    }
}

.page_foot {
    grid-area: 10 / 9 / span 1 / span 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
        width: 100%;
    }
}

.about_foot {
    grid-area: 8 / 9 / span 1 / span 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    img {
        width: 100%;
    }
}

.bigger {
    grid-area: 8 / 9 / span 1 / span 2;

    img {
        width: 60%;
    }
}

.biggerList {
    grid-area: 10 / 9 / span 1 / span 2;

    img {
        width: 60%;
    }
}

.intervencoes_title {
    grid-area: 2 / 2 / span 1 / span 7;

    img {
        width: 100%;
        height: 100%;
    }
}

.block {
    background-color: #FD7248;

    &.first {
        grid-area: 3 / 2 / span 2 / span 7;
    }

    &.second {
        grid-area: 5 / 2 / span 4 / span 3;
    }

    &.tercero {
        grid-area: 8 / 5 / span 1 / span 4;
    }

    &.quatro {
        grid-area: 5 / 5 / span 3 / span 3;
    }

    &.fifth {
        grid-area: 5 / 8 / span 3 / span 1;
    }
}

.mapboxgl-canvas {
    height: 100% !important;
}