::selection {
  background-color: #fd7248;
}

p,
ol,
ul,
td {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #fafafa;
  padding: 10px;
  font-size: 11px;
}

a {
  &:hover {
    color: #fafafa;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  grid-area: 1 / 2 / span 1 / span 3;
  color: #fd7248;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 1rem;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #fafafa;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #fd7248;
    color: #fafafa;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.entrar_title {
  grid-area: 2 / 2 / span 1 / span 5;

  &.entrar_title.reset {
    grid-area: 2 / 2 / span 1 / span 4;
  }

  img {
    width: 100%;
  }
}

.block1 {
  background-color: #fd7248;
  grid-area: 2 / 7 / span 5 / span 4;

  &.block1.reset {
    grid-area: 2 / 7 / span 4 / span 4;
  }
}

.block2 {
  background-color: #fd7248;
  grid-area: 3 / 2 / span 6 / span 3;
}

.block3 {
  background-color: #fd7248;
  grid-area: 7 / 5 / span 2 / span 6;

  &.block3.reset {
    grid-area: 6 / 5 / span 3 / span 6;
  }
}

.logform {
  grid-area: 3 / 5 / span 4 / span 2;
  display: flex;
  align-items: flex-end;

  &.logform.reset {
    grid-area: 3 / 5 / span 3 / span 2;
  }

  .shared {
    p {
      margin-top: 2rem;
    }

    a {
      font-size: 2rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      text-decoration: none;
    }
  }

  form {
    width: 100%;
  }

  .field {
    margin-bottom: 2rem;

    label {
      font-size: 2.4rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      margin-bottom: 2rem;
    }

    input {
      padding: 0.5rem;
      background-color: #fafafa;
      color: #2b2b2b;
      font-size: 1.6rem;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      background-color: #fafafa;
    }
  }

  .field_check {
    display: flex;
    align-items: center;

    label {
      font-size: 2.4rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      margin-left: 1rem;
    }
  }

  .actions {
    margin-top: 2rem;
    input {
      font-size: 4rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;

      &:hover {
        background-color: #000;
        cursor: pointer;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fd7248;
  transition: background-color 5000s ease-in-out 0s;
}

.registrar_title {
  grid-area: 2 / 2 / span 1 / span 7;

  img {
    width: 100%;
  }
}

.signform {
  grid-area: 3 / 4 / span 4 / span 5;
  display: flex;
  align-items: flex-end;

  .sign_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .shared {
    p {
      margin-top: 2rem;
    }

    a {
      font-size: 2rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      text-decoration: none;
    }
  }

  form {
    width: 100%;
  }

  .field {
    margin-bottom: 2rem;

    &.bio {
      margin: 0;
    }

    label {
      font-size: 2.4rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      margin-bottom: 2rem;

      &.pass {
        margin-top: -1.5rem;
        font-size: 1.4rem;
        color: #fd7248;
      }
    }

    input,
    textarea {
      padding: 0.5rem;
      background-color: #fafafa;
      color: #2b2b2b;
      font-size: 1.6rem;
      width: 100%;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      background-color: #fafafa;
    }

    textarea {
      height: 17rem;
    }
  }

  .field_check {
    display: flex;
    align-items: center;

    label {
      font-size: 2.4rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;
      margin-left: 1rem;
    }
  }

  .actions {
    margin-top: 2rem;
    input {
      font-size: 4rem;
      color: #fafafa;
      font-family: "Poppins", sans-serif;
      font-weight: 900;

      &:hover {
        background-color: #000;
        cursor: pointer;
      }
    }
  }
}

.bloco1 {
  grid-area: 3 / 2 / span 6 / span 2;
  background-color: #fd7248;
}

.bloco2 {
  grid-area: 2 / 9 / span 7 / span 2;
  background-color: #fd7248;
}

.bloco3 {
  grid-area: 7 / 4 / span 2 / span 5;
  background-color: #fd7248;
}
